* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_news {
  width: 100vh;

  /* top: 50%;
  right: 50%;
  transform: translate(-50%,-50%); */

  text-align: center;
}
.card {
  background-color: #ffe4c4;
  width: 100%;
  height: 150px;
  border: 1px solid black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.stories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.inp {
  width: 30vw;
  height: 35px;
  font-weight: bold;
  text-align: center;
}
/* .page_main{
  justify-content: center;
  text-align: center;
  width: 46vw;
  height: 35px;
  margin-top: 15px;
} */
.page {
  display: flex;
  justify-content: center;
  text-align: center;
  /* width: 46vw; */
  height: 35px;
  margin-top: 15px;
}
.prev :hover {
  cursor: pointer;
  border-radius: 15px;
  color: rgb(15, 4, 4);
  font-weight: bold;
}
.next :hover {
  cursor: pointer;
  border-radius: 15px;
  color: rgb(20, 6, 6);
  font-weight: bold;
}
